*{
    margin:0;
}


body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./assest/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.nav{
    background-color: black;
    height: 100px;
    display: flex;
    

}
.logo{
    height: 70px;
    margin-top:15px;
    padding-left:30px ;
}
.info{
    color: antiquewhite;
    display: flex;
    gap: 135px; 
    
    
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    margin-top: 32px;
    margin-left: 470px;
    

}
.btn{
    height: 52px;
    width: 143px;
    margin-top: 25px;
    margin-left: 515px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    

}
.btn:hover{
    color: #ede0e3;
    background-color: black;
    
}
.login_page{
    display: none;
    height: 800px;
    width:700px;
    background-color: #fff;
}
.hov{
    transition: transform 0.5s;
}
.hov:hover{
    transform:scale(1.1);
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: rgb(215, 44, 44);
    height: 800px;
    width: 800px;
    margin-left: 650px;
    margin-top: 50px;
}



