
*{
    margin:0;
}

body{
    min-height: 150vh;
    font-family: 'Poppins', sans-serif;
}


/* navbar style */




.cart-count{
    transform: translate(-100%,-50%);
}

/* Style for the list items */
.des {
    position: relative;
    list-style: none; /* Remove default list bullet */
    color: white;
    
}

/* Create the small block */
.des::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;    
    bottom: 0;
    left: 0;
    background-color: #ddd6d6; /* Color of the block */
    transition: width 0.4s ease-in-out;
    transform-origin: left; /* Make the block expand from the left */
}

/* Show the block when hovering over the list item */
.des:hover::before {
    width: 100%; /* Expand to 100% width on hover */
}


/* Cart Items Style */







.cartpage{
    padding-top: 100px;
}

.cartpage .cart_item{
display: flex;
justify-content: space-around;
align-items: center;
/* border: 2px solid white; */
background-color: #222222;
margin-left: 20px;
margin-right: 20px;
border-radius: 20px;

}
img{
    height: 300px;
}


p{
    font-size: 25px;
    color: white;
    font-weight: 900;
}
.rmv_btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
    font-size: 20px;
    background-color: #EF4444;
    color: white;
    font-weight: 900;
    border-radius: 20px;
    transition: transform 0.5s; 
    opacity: 0.8; /* Adjust the opacity value (0.7) as needed (0 is completely transparent, 1 is fully opaque) */
    transition: opacity 0.3s;
}
.rmv_btn:hover{
 transform: scale(1.1); /* Scale the button by a factor of 1.1 (10% increase) */
    transition: transform 0.5s; 
    opacity:1.1
}




/* style to the amount you are going to be paid */
.show_total_amount{
  background-color: #222222;
  color: #ddd6d6;

}
.ButtonToBuy{

}
/* Button styling */

