
*{
    margin:0;
}

body{
    background-image: linear-gradient(to top right,#CC64A2,#5c3075);
    min-height: 200vh;
    font-family: 'Poppins', sans-serif;
}
.container{

    height: 1000px;
    width:900px;
    margin-left: 550px;
    margin-top: 100px;
}
.list{

    display: grid;
    grid-template-columns: repeat(3,300px);

grid-gap: 20px;
}
.item .imag img{
    height: 250px;
    transition: transform 0.2s; 
    
    
}

.item .imag img:hover{
transform:translate(0,-50px)
}


.item .imag{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top right,#D89CD1,#D499D4);
border-radius: 20px;
}



.content .title{
    display: flex;
    justify-content: center;
}

.content .details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    background-color:rgb(201, 173, 228);
    border-radius: 40px;
    /* margin-left: 70px; */
    padding:10px 30px 10px 30px;
    font-size: 20px; 
    transition: transform 0.3s ,opacity 0.3s;

}

.title{
    font-weight:900;
    font-size: 20px;
}
.content{
    color:#fff;
}
.price{
    font-weight: 900;
}
.add:hover{
    transform:scale(1.1) ;
    opacity:2;
    color: rgb(156, 34, 26);
}
.content{
    background-color:#ffffff26;
    border-radius: 30px;
    padding-top: 30px;
    transform: translate(0px,-30px);
    backdrop-filter: blur(20px);
}

.listpage{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-gap: 20px;
    text-align: center;
    margin-left: 300px;
    
   
}
.Previ{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #ffffffBD;
}
.Previ:hover{
    background-color:rgb(201, 173, 228);

}
.Nexts:hover{
    background-color:rgb(201, 173, 228);

}
.Nexts{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #ffffffBD;
}
.active{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #ffffffBD;
}
.active:hover{
    background-color:rgb(201, 173, 228);

}
*{
    margin:0;
}


body {
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./assest/wallpaperflare.com_wallpaper.jpg"); */
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.nav{
    background-color: linear-gradient(to top right,#CC64A2,#5c3075);;
    height: 100px;
    display: flex;
    

}
.logo{
    height: 70px;
    margin-top:15px;
    padding-left:30px ;
}
.info{
    color: antiquewhite;
    display: flex;
    gap: 135px; 
    
    
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    margin-top: 32px;
    margin-left: 410px;
    

}
.btn{
    height: 52px;
    width: 143px;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    

}
.btn:hover{
    color: #ede0e3;
    background-color: black;
    
}
.cart {
    padding-top:10px ;
    margin-top: 25px;
    margin-left: 290px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.cart:hover {
    background-color: lightgray; /* Change the background color on hover */
}

.cart i {
    font-size: 40px;
    transition: color 0.3s; /* Add a smooth transition effect */
}

.cart:hover i {
    color: red; /* Change the color of the icon on hover */
}

    img{
        padding: 0px;
    }
    
    
    button{
        padding: 0px;
    }
    .count{
transform: translate(-10px,0px);
        border-radius: 50px;
        height: 40px;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 900;
        background-color: #dbd3de;
        padding: 0px;
        display: inline-block;
    }
.login_page{
    display: none;
    height: 800px;
    width:700px;
    background-color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;

    /* background-color: rgb(255, 252, 252); */
    height: 800px;
    width: 800px;
    margin-left: 650px;
    margin-top: 50px;
}
a{
    /* text-decoration: none; */
    color: #ede0e3;
   text-decoration: none;
   font-weight: 1000;
}
.hov {
    
    color: rgb(242, 238, 238);
}










/* Style for the list items */
.des {
    position: relative;
    list-style: none; /* Remove default list bullet */
}

/* Create the small block */
.des::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the height as needed */
    bottom: 0;
    left: 0;
    background-color: #d7a4f0; /* Color of the block */
    transition: width 0.3s ease-in-out;
    transform-origin: left; /* Make the block expand from the left */
}

/* Show the block when hovering over the list item */
.des:hover::before {
    width: 100%; /* Expand to 100% width on hover */
}







.advertise{
    margin-top: 50px;
    margin-left: 0px;
}
.offer{
    display: flex;  
    align-items: center;
}
.prebtn,
.aftbtn{
    border: none;
  background:linear-gradient(to top right,#bbb6b9,#f9f7fa);
cursor: pointer;
}
.prebtn i,
.aftbtn i{
    
    opacity: 0.5;
    transition: transform 0.4s;
    font-size: 3em;

}
.prebtn:hover i,
.aftbtn:hover i{
    opacity: 1;
    transform: scale(1.1);
}
.prebtn{
    position: absolute;
    left:40px; 
}
.aftbtn{
    position: absolute;
    right: 40px;
}
.image{
    margin-left: 45px;
}
.scrolling{
    display: flex;
    
}
.scrolling {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling img {
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between ads as needed */
    transition: transform 1s ease-in-out;
}
.scrolling {
    scroll-behavior: smooth;
}







.footer {
    background-color: #371b3d;
    color: #fff;
    /* text-align: center; */

    margin-top: 410px;
    padding-top: 0px;
}
.reserved{
    margin-left: 900px;
    /* margin-bottom: 50px; */
    position: relative;
    top: -10px;
   
}
.footlogo{
   position: relative;
   top: 12px;
}

.grid{
    
    list-style-type: none;
    text-decoration: none;
    display: grid;
    grid-template-rows: repeat(3,25px);
    margin-left:1700px ;
}
.icon{
    margin-left: 1000px;
    
    
}
.icon i{
    margin-right: 10px;
}

/* Define the animation keyframes */
@keyframes beat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Apply the animation to the element */
.fa-beat-fade {
    animation: beat-fade 0.5s infinite; /* Adjust the animation duration and other properties as needed */
    transform-origin: center; /* Optional: Set the transform origin to the center for a better effect */
}

/* Pause the animation when not hovering */
.fa-beat-fade:not(:hover) {
    animation-play-state: paused;
}
.touch{
    font-size: 20px;
}

